@import "tailwindcss";

body{
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(219, 255, 252); */
}

html {
    direction: rtl;
    text-align: right;
    font-family: 'Tajawal', sans-serif;
}
